version: '3.8'

services:
  backend:
    build: ./backend
    container_name: base_backend
    restart: unless-stopped
    networks:
      - app_network

  nginx:
    image: docker.io/library/nginx:alpine
    container_name: base_nginx
    ports:
      - "80:80"
    volumes:
    - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro,Z
    depends_on:
      - backend
    networks:
      - app_network

networks:
  app_network:
    driver: bridge